.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Content {
  max-width: 800px;
  color: #FFF;
  padding: 20px;
  border-radius: 4px;
  margin: 20px auto;
}

.App-Header {
  margin-top: 20px;
}

.App-Header button {
  padding: 15px 20px;
  margin: 5px;
  background-color: #eee;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}


.App-Header button.active {
  background-color: #666;
  color: #FFF;
}
